{% extends "layout.html" %}

{% block title %}
    Goals
{% endblock %}

{% block main %}


    <!-- app's own JavaScript -->
    <script src="/static/scripts.js"></script>
    <script src="/static/goals.js"></script>

    <h1 class="display-5">Long-term goals</h1>

    <span style="display:inline-block; height: 40px;width: 100%;"></span>

    <div style="float: right;">
        <form action="/new_goal">
            <button type="submit" id="new_reminder" class="btn btn-success btn-md center-block" Style="width: 150px; Height: 50px">New Goal</button>
        </form>
    </div>

    <span style="display:inline-block; height: 40px;width: 100%;"></span>

    <table class="table">
        <thead align="left" class="thead-light">
            <tr>
                <!--status -->
                <th class="narrow"></th>
                <th>Name</th>
                <th>Details</th>
                <th>Created</th>
            </tr>
        </thead>


        <tbody align="left" id="myTableId">
            {% if goals %}
                <form method="post">
                    {% for goal in goals %}
                        <tr class="clickable">
                            <td class="checkbox">
                                <input type="checkbox" value="{{ goal.id }}" id="{{ goal.id }}" name="check_goal" class="check_goal">
                            </td>
                            <td>{{ goal.name }}</td>
                            <td>{{ goal.details }}</td>
                            <td>{{ goal.datetime }}</td>
                        </tr>
                    {% endfor %}
                </form>
            {% else %}
                <tr>
                    <td colspan="4" align="center">You have no items on your goals</td>
                </tr>
            {% endif %}
        </tbody>
    </table>
    <div style="float: left;">
        <button type="submit" id="mark_completed_goals" class="btn btn-secondary btn-md center-block" Style="width: 170px;">Mark as completed</button>
    </div>
    <div style="float: right;">
        <button type="submit" id="delete_goal" class="btn btn-danger" Style="width: 170px;">Delete</button>
    </div>

{% endblock %}