{% extends "layout.html" %}

{% block title %}
    Goals
{% endblock %}

{% block main %}


    <!-- app's own JavaScript -->
    <script src="/static/scripts.js"></script>
    <script src="/static/goals.js"></script>

    <h1 class="display-5">Long-term goals</h1>
    <p class="lead">
        Here's where you have your goals, dreams and aspirations - big or small
    </p>

    <span style="display:inline-block; height: 40px;width: 100%;"></span>

    <form action="/goals" method="post">
        <div class="form-group">
            <input id="goal" name="goal" autocomplete="off" autofocus class="form-control" placeholder="New Goal" type="text" Style="width: 300px;"/>
        </div>
    </form>

    <table class="table">
        <thead align="left" class="thead-light">
            <tr>
                <!--status -->
                <th class="narrow"></th>
                <th>Name</th>
                <th>Created</th>
            </tr>
        </thead>


        <tbody align="left" id="myTableId">
            {% if goals %}
                <form method="post">
                    {% for goal in goals %}
                        <tr class="clickable">
                            <td class="checkbox">
                                <input type="checkbox" value="{{ goal.id }}" id="{{ goal.id }}" name="check_goal" class="check_goal">
                            </td>
                            <td>{{ goal.name }}</td>
                            <td>{{ goal.datetime }}</td>
                        </tr>
                    {% endfor %}
                </form>
            {% else %}
                <tr>
                    <td colspan="3">You have no items on your Goals list. <a id="link_add_goal" href="#goal">Add</a> some?</td>
                </tr>
            {% endif %}
        </tbody>
    </table>
    <div style="float: left;">
        <button type="submit" id="mark_completed_goals" class="btn btn-secondary btn-md center-block" Style="width: 170px;">Mark as completed</button>
    </div>
    <div style="float: right;">
        <button type="submit" id="delete_goal" class="btn btn-danger" Style="width: 170px;">Delete</button>
    </div>

{% endblock %}