{% extends "layout.html" %}

{% block title %}
    Dashboard
{% endblock %}

{% block main %}

    <!-- app's own JavaScript -->
    <script src="/static/scripts.js"></script>
    <script src="/static/todos.js"></script>

    <h1 class="display-2">Welcome, {{ name }}</h1>
    <p class="lead">
        Here are the items on your ToDo list
    </p>

    <span style="display:inline-block; height: 40px;width: 100%;"></span>

    <div style="float: right;">
        <form action="/new" method="get">
            <button type="submit" id="new_reminder" class="btn btn-primary btn-md center-block" Style="width: 150px; Height: 50px;">New ToDo</button>
        </form>
    </div>

    <span style="display:inline-block; height: 40px;width: 100%;"></span>

    <table class="table">
        <thead align="left" class="thead-light">
            <tr>
                <!--status -->
                <th class="narrow"></th>
                <th>Name</th>
                <th>Details</th>
                <th>Created</th>
            </tr>
        </thead>


        <tbody align="left" id="myTableId">
            {% if reminders %}
                <form>
                    {% for reminder in reminders %}
                        <tr class="clickable">
                            <td class="checkbox">
                                <div class="larger">
                                    <input type="checkbox" value="{{ reminder.id }}" id="{{ reminder.id }}" name="check_reminder" class="check_reminder">
                                </div>
                            </td>
                            <td>{{ reminder.name }}</td>
                            <td>{{ reminder.details }}</td>
                            <td>{{ reminder.datetime }}</td>
                        </tr>
                    {% endfor %}
                </form>
            {% else %}
                <tr>
                    <td colspan="4">You have no items on your ToDo list. <a href="/new">Add</a> some?</td>
                </tr>
            {% endif %}
        </tbody>
    </table>
    <div style="float: left;">
        <button type="submit" id="mark_completed" class="btn btn-secondary btn-md center-block" Style="width: 170px;">Mark as completed</button>
    </div>
    <div style="float: right;">
        <button type="submit" id="delete" class="btn btn-danger" Style="width: 170px;">Delete</button>
    </div>

{% endblock %}