{% extends "layout.html" %}

{% block title %}
    Dashboard
{% endblock %}

{% block main %}

    <!-- app's own JavaScript -->
    <script src="/static/scripts.js"></script>
    <script src="/static/todos.js"></script>

    <h1 class="display-2">Welcome, {{ name }}</h1>
    <p class="lead">
        Here are the items on your ToDo list
    </p>

    <span style="display:inline-block; height: 40px;width: 100%;"></span>

    <form action="/" method="post">
        <div class="form-group">
            <input name="reminder" id="reminder" autocomplete="off" autofocus class="form-control" placeholder="New To Do" type="text" Style="width: 300px;"/>
        </div>
    </form>
    <table class="table">
        <thead align="left" class="thead-light">
            <tr>
                <!--status -->
                <th class="narrow"></th>
                <th>Name</th>
                <th>Created</th>
            </tr>
        </thead>


        <tbody align="left" id="myTableId">
            {% if reminders %}
                <form>
                    {% for reminder in reminders %}
                        <tr class="clickable">
                            <td class="checkbox">
                                <div class="larger">
                                    <input type="checkbox" value="{{ reminder.id }}" id="{{ reminder.id }}" name="check_reminder" class="check_reminder">
                                </div>
                            </td>
                            <td>{{ reminder.name }}</td>
                            <td>{{ reminder.datetime }}</td>
                        </tr>
                    {% endfor %}
                </form>
            {% else %}
                <tr>
                    <td colspan="3">You have no items on your ToDo list. <a id="link_add_todo" href="#reminder">Add</a> some?</td>
                </tr>
            {% endif %}
        </tbody>
    </table>
    <div style="float: left;">
        <button type="submit" id="mark_completed" class="btn btn-secondary btn-md center-block" Style="width: 170px;">Mark as completed</button>
    </div>
    <div style="float: right;">
        <button type="submit" id="delete" class="btn btn-danger" Style="width: 170px;">Delete</button>
    </div>

{% endblock %}