{% extends "layout.html" %}

{% block title %}
    New Item
{% endblock %}

{% block main %}

    <!-- app's own JavaScript -->
    <script src="/static/scripts.js"></script>

    <h1 class="display-5">Add an Item!</h1>
    <span style="display:inline-block; height: 40px;width: 100%;"></span>

    <form action="/lists/new_item" method="post">
        <div class="form-group">
            <select name="list" class="form-control" id="list" autofocus>
                <option disabled selected value>List</option>
                {% for list in lists %}
                <option value="{{ list.id }}">{{ list.name }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="form-group">
            <input name="item" autocomplete="off" class="form-control" placeholder="Item" type="text"/>
        </div>
        <div class="form-group">
            <textarea name="details"class="form-control" autocomplete="off" rows="5" placeholder="Details (optional)" Style="width: 300px;"></textarea>
        </div>
        <button class="btn btn-primary" type="submit">Add</button>
    </form>
{% endblock %}