{% extends "layout.html" %}

{% block title %}
    New List
{% endblock %}

{% block main %}

    <!-- app's own JavaScript -->
    <script src="/static/scripts.js"></script>

    <h1 class="display-5">Create a List!</h1>
    <span style="display:inline-block; height: 40px;width: 100%;"></span>

    <form action="/lists/new_list" method="post">
        <div class="form-group">
            <input name="list" autocomplete="off" autofocus class="form-control" placeholder="List" type="text" Style="width: 300px;"/>
        </div>
        <div class="form-group">
            <textarea name="details"class="form-control" autocomplete="off" rows="5" placeholder="Details (optional)" Style="width: 300px;"></textarea>
        </div>
        <button class="btn btn-primary" type="submit">Add</button>
    </form>
{% endblock %}